.about {
  h1,
  h2 {
    filter: drop-shadow(0 0 5px var(--pink)) drop-shadow(0 0 10px var(--pink));
  }

  h2 {
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
  }

  > p {
    margin: 15px auto 30px auto;
    width: 70%;
  }

  .timeline {
    width: 100%;
    padding: 20px 0;
    margin: 0px auto;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background: linear-gradient(transparent 0%, var(--pink), transparent 90%);
      z-index: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    > p {
      width: 90%;
    }
    .timeline {
      overflow: visible;
      &:before {
        left: 4px;
        width: 2px;
      }
    }
  }
}
