.about-card {
  position: relative;
  height: 100%;
  h1,
  h2,
  p {
    position: relative;

    z-index: 2;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: calc(100% + 40px);
    margin-top: -20px;
    opacity: 0.9;
    z-index: 0;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 5px var(--color))
      drop-shadow(0 0 10px var(--color));
  }
}
@media screen and (max-width: 768px) {
  .about-card {
    img {
      display: none;
    }
  }
}
