.backdrop {
  position: absolute;

  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;

  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px darkmagenta, inset 0 0 20px darkmagenta;

  padding: 50px 20px;

  & .closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    color: rgb(255, 112, 112);
    filter: drop-shadow(0 0 5px red) drop-shadow(0 0 10px red);
  }

  & p {
    // margin-top: -180px;
  }

  & img {
    width: 90%;
  }

  &::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 183, 0.178);
    border-radius: 100px;

    &:hover {
      background: rgba(255, 0, 183, 0.393);
    }
  }
}
